@font-face { /* EXTRA LIGHT */
  font-family: "Silkscreen";
  src: url("./slkscre.ttf");
  font-weight: 200;
  font-style: normal
}

@font-face { /* REGULAR */
  font-family: "Silkscreen";
  src: url("./slkscr.ttf");
  font-weight: 400;
  font-style: normal
}

@font-face { /* BOLD */
  font-family: "Silkscreen";
  src: url("./slkscrb.ttf");
  font-weight: 700;
  font-style: normal
}

@font-face { /* EXTRA BOLD */
  font-family: "Silkscreen";
  src: url(".l/slkscreb.ttf");
  font-weight: 800;
  font-style: normal
}