<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./layout.css">
  <link rel="stylesheet" href="../../../fonts/silkscreen.css">
  <title>Our Chat - Tests</title>
</head>

<body>
  <header class="primary">
    <h1>Layout</h1>
  </header>
  
  <main>
    <section class="options primary">
      <a class="button">
        Chat
      </a>
      
      <a class="button">
        Mídia
      </a>
    </section>
  </main>
  
  <footer>
    Our Chat — Criado por Guilherme Aryel — 04/10/2026
  </footer>
</body>

</html>